<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" [formGroup]="sendMessageFormGroup" (ngSubmit)="onSubmit()">
            <div formGroupName="message" class="form-area">
                <div class="row">
                    <div class="form-group col mb-3 text-center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Recipient</mat-label>
                            <input type="text" placeholder="" aria-label="Number" matInput
                                [formControl]="recipientControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1"><b>Title</b></label>
                    <input [formControl]="title" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"><b>Content</b></label>
                    <textarea [formControl]="content" class="form-control" rows="4"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Send message</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-messages></app-messages>